Repository shimosyan/phpUploader, changes with the labels that .github/labeler.yml gives for each.
All labels: area/config, area/api, area/frontend, area/database, area/docker, area/documentation, area/ci, area/security, area/release

.github/labeler.yml:

# 設定ファイル関連
"area/config":
  - config/**/*
  - "config.php.example"

# API関連
"area/api":
  - app/api/**/*

# UI/フロントエンド関連
"area/frontend":
  - app/views/**/*
  - asset/**/*

# データベース関連
"area/database":
  - app/models/**/*
  - db/**/*

# Docker関連
"area/docker":
  - docker/**/*
  - docker-compose.yaml
  - Dockerfile

# ドキュメント関連
"area/documentation":
  - "*.md"
  - docs/**/*

# CI/CD関連
"area/ci":
  - .github/**/*

# セキュリティ関連
"area/security":
  - config/**/*
  - app/api/verify*

# リリース関連
"area/release":
  - scripts/release.*
  - composer.json
  - CHANGELOG.md

feat: PHP要件を5.6以上に更新し、互換性チェックスクリプトを追加
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .markdownlint.json
  CHANGELOG.md
  README.md
  composer.json
  scripts/check-php-compatibility.php
Labels: area/documentation, area/ci, area/release

fix: actions/labelerのバージョンをv5.0.0からv4.3.0にダウングレード
  .github/workflows/labeler.yml
Labels: area/ci

feat: CIとリリースワークフローの改善
  .github/workflows/ci.yml
  .github/workflows/release.yml
  scripts/test-version.php
Labels: area/ci

feat: CIとバージョンテストの改善
  .github/workflows/ci.yml
  composer.json
  scripts/test-version.php
Labels: area/ci, area/release

feat: composer.jsonのバリデーションを強化
  .github/workflows/ci.yml
  composer.json
Labels: area/ci, area/release

feat: composer.jsonのバリデーションを強化し、依存関係のインストールメッセージを追加
  .github/workflows/ci.yml
  composer.json
Labels: area/ci, area/release

feat: CIのPHPバージョン情報を表示し、5.6のエラーを非ブロッキングに設定
  .github/workflows/ci.yml
Labels: area/ci

feat: CIのPHPバージョンから5.6を削除
  .github/workflows/ci.yml
Labels: area/ci

feat: CIのPHPバージョンから5.6を削除し、composer.jsonのバリデーションを強化
  .config/dictionary.txt
  .github/workflows/ci.yml
Labels: area/ci
